<div class="row" >
  <strong><%= link_to "Download challenge_base_app.zip", "/download_challenge_base" %></strong>
  <div class="col-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            Id
          </th>
          <th>
            Team Name
          </th>
          <th>
            Points
          </th>
          <th>
            Points This Round
          </th>
          <% if current_user %>
            <th>
              Link To Current/Last Challenge Submission
            </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% if current_user %>
          <tr>
            <th>
              <%= current_user.id %>
            </th>
            <td>
              <%= current_user.display_name %> (My Team)
            </td>
            <td>
              <%= current_user.score %>
            </td>
            <td>
              <%= current_user.score_for_round %>
            </td>
            <% if current_user %>
              <td>
                <%= link_to "your_app.apk", "/download_challenge_app/#{current_user.id}" %>
              </td>
            <% end %>
          </tr>
        <% end %>
        <% if !@teams.blank? %>
          <% for team in @teams%>
            <% if current_user != team %>
              <tr>
                <th>
                  <%= team.id %>
                </th>
                <td>
                  <%= team.display_name %>
                </td>
                <td>
                  <%= team.score %>
                </td>
                <td>
                  <%= team.score_for_round %>
                </td>
                <% if current_user %>
                  <td>
                    <%= link_to "team#{team.id}_app.apk", "/download_challenge_app/#{team.id}" %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        <% else %>
          <tr>
            <td colspan=4>
              <h1>No Teams to display</h1>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% if current_user %>
    <div class="col -12">
      <strong>
        Please refresh this screen at the beginning of an Attack Period to view the latest links to
        players challenges.
      </strong>
    </div>
  <% end %>
</div>
