<div class="row" >

  <div class="col-12">
    <table class="table table-striped">
      <caption>Flags (in order of creation)</caption>
      <thead>
        <tr>
          <th>
            Flag
          </th>
          <th>
            Attack Period
          </th>
          <th>
            Round
          </th>
          <th>
            Times Stolen
          </th>
        </tr>
      </thead>
      <tbody>
        <% if !@flags.blank? %>
          <% for flag in @flags%>
            <tr>
              <td>
                <%= flag.flag %>
              </td>
              <td>
                <% if flag.attack_period %>
                  <strong>
                    from:
                  </strong>
                  <%= flag.attack_period.start %><br/>
                  <strong>
                    to: &nbsp;&nbsp;&nbsp;&nbsp;
                  </strong>
                  <%= flag.attack_period.finish %>
                <% else %>
                  <strong>
                    Not Found
                  </strong>
                <% end %>
              </td>
              <td>
                <% if flag.attack_period and flag.attack_period.round %>
                  <strong>
                    from:
                  </strong>
                  <%= flag.attack_period.round.start %><br/>
                  <strong>
                    to: &nbsp;&nbsp;&nbsp;&nbsp;
                  </strong>
                  <%= flag.attack_period.round.finish %>
                <% else %>
                  <strong>
                    Not Found
                  </strong>
                <% end %>
              </td>
              <td>
                <%= flag.times_stolen %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan=4>
              <h1>No Flags to display</h1>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
